<!doctype html>
<html lang="en">

<head>
    <%- include('../../partials/doc-head') %>
    <link rel="stylesheet" href="/styles/pages/sign-in-page.css">
    <title><%= `Sign In - ${appInfo.name}` %></title>
</head>

<body>
    <%- include('../../partials/nav-bar') %>
    <%- include('./main') %>
    <%- include('../../partials/page-bottom') %>
    <script>
        const pageData = {
            emptyPasswordMessage: "<%= t('signin-page.Empty_password_message',i18nLang) %>"
        }
    </script>
    <%- include('../../partials/doc-scripts') %>
    <script src="/scripts/pages/sign-in-page.js" defer></script>
</body>

</html>