<!doctype html>
<html lang="en">

<head>
    <%- include('../../partials/doc-head') %>
    <link rel="stylesheet" href="/styles/pages/home-page/home-page.css" />
    <title><%= appInfo.name %></title>
</head>

<body>
    <%- include('../../partials/nav-bar') %>
    <%- include('./main') %>
    <%- include('../../partials/page-bottom') %>
    <%- include('../../partials/doc-script') %>
    <script>
        const serverData = {
            noteId: '<%= note.noteId %>'
        }
    </script>
    <script src="/scripts/pages/home/socket.js" defer></script>
    <script src="/scripts/pages/home/home-page.js" defer></script>
</body>

</html>