<!doctype html>
<html lang="en">

<head>
    <%- include('../../partials/doc-head') %>
    <link rel="stylesheet" href="/styles/pages/home-page/home-page.css" />
    <title><%= appInfo.name %></title>
</head>

<body>
    <%- include('../../partials/nav-bar') %>
    <%- include('./main') %>
    <%- include('../../partials/page-bottom') %>
    <script>
        const pageData = {
            noteId: "<%= note.noteId %>",
            editor: "<%= note.editor %>",
            richEditorData: {
                placeholder: "<%= t('home-page.noteForm.Content_placeholder',i18nLang) %>",

            },
            currentLang: "<%= settings.currentLang %>"
        }
    </script>
    <%- include('../../partials/doc-scripts') %>
    <script src="https://cdn.tiny.cloud/1/28ulk4q3r0e3qqim6plib7df84nr6o6x6p9e5tdtx41qmr38/tinymce/6/tinymce.min.js"
        referrerpolicy="origin"></script>
    <script src="/scripts/pages/home/home-page.js" defer></script>
    <script src="/scripts/pages/home/note-broadcast.js" defer></script>
    <script src="/scripts/pages/home/article-broadcast.js" defer></script>
    <script src="/scripts/pages/home/editors.js" defer></script>
</body>

</html>