<!doctype html>
<html lang="en">
    <head>
        <%- include('../../partials/doc-head') %>
        <link rel="stylesheet" href="/styles/pages/home-page.css" />
        <title><%= appInfo.name %></title>
    </head>
    <body>
        <%- include('../../partials/page-header') %> <%- include('./main') %> <%-
        include('../../partials/doc-script') %>
        <script src="/scripts/pages/home-page.js"></script>
    </body>
</html>
