<main id="page-main">
    <section class="user-actions-and-logout">
        <section class="user-actions">
            <% if (note.passwordSet) { %>
            <button class="user-action set-note-password" type="button" data-bs-toggle="modal"
                data-bs-target="#set-note-password-modal">
                <i class="bi bi-arrow-repeat"></i>
                <span>Change Password</span>
            </button>
            <button class="user-action remove-note-password" data-bs-toggle="modal"
                data-bs-target="#remove-note-password-modal">
                <i class="bi bi-trash3"></i>
                <span>Remove Password</span>
            </button>
            <% } else { %>
            <button class="user-action set-note-password" type="button" data-bs-toggle="modal"
                data-bs-target="#set-note-password-modal">
                <i class="bi bi-lock-fill"></i>
                <span>Add Password</span>
            </button>
            <button class="user-action remove-note-password" data-bs-toggle="modal"
                data-bs-target="#remove-note-password-modal" hidden>
                <i class="bi bi-trash3"></i>
                <span>Remove Password</span>
            </button>
            <% } %>
        </section>

        <% if (note.passwordSet) { %>
        <button class="logout-btn" onclick="logoutHandler(this)">
            <span>Logout</span>
            <i class="bi bi-box-arrow-right"></i>
        </button>
        <% } else { %>
        <button class="logout-btn" hidden onclick="logoutHandler(this)">
            <span>Logout</span>
            <i class="bi bi-box-arrow-right"></i>
        </button>
        <% } %>
    </section>

    <section class="notes">
        <section class="note-container note-form">
            <div class="note-title">
                <input type="text" value="<%= note.title || '' %>" placeholder="Add a title..."
                    oninput="broadcastNoteTitleTypingHanlder(this)" />
                <div class="note-annotation">Title</div>
            </div>
            <div class="note-author">
                <input type="text" value="<%= note.author || '' %>" placeholder="Add an author..."
                    oninput="broadcastNoteAuthorTypingHanlder(this)" />
                <div class="note-annotation">Author</div>
            </div>
            <div class="note-editor-board">
                <div class="note-editor-container">
                    <div class="note-editor-wrapper" data-replicated-value="<%= note.content || '' %>">
                        <textarea class="note-editor" id="note-editor" rows="5" placeholder="Write your note here..."
                            oninput="noteTyping(this)" onkeyup="catchBackspaceWhenTyping(this,event)"
                            data-replicated-value=""><%= note.content || '' %></textarea>
                        <div class="note-annotation">Your Note</div>
                    </div>
                    <div class="letters-count">
                        <span></span>
                        <span class="count"><%= note.content.length %> / 10000</span>
                    </div>
                </div>
                <div class="useful-note-actions">
                    <button class="action" onclick="performUsefulActions(this,'clipboardPaste')">
                        <i class="bi bi-clipboard"></i>
                        <span>Clipboard Paste</span>
                    </button>
                    <button class="action" onclick="performUsefulActions(this,'copyAllNoteContent')">
                        <i class="bi bi-c-circle"></i>
                        <span>Copy All</span>
                    </button>
                    <button class="action" onclick="performUsefulActions(this,'undoNoteContent')">
                        <i class="bi bi-arrow-counterclockwise"></i>
                        <span>Undo</span>
                    </button>
                    <button class="action" onclick="performUsefulActions(this,'clearNoteContent')">
                        <i class="bi bi-x-lg"></i>
                        <span>Clear</span>
                    </button>
                </div>
            </div>
        </section>
    </section>

    <div id="bubble-note-settings">
        <div data-bs-toggle="tooltip" data-bs-placement="left" title="Settings">
            <div class="bubble-note-settings-btn" data-bs-toggle="modal" data-bs-target="#note-settings-modal">
                <i class="bi bi-gear-fill"></i>
            </div>
        </div>
    </div>

    <!-- Modal - app settings -->
    <div class="modal" id="note-settings-modal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title fs-5">Settings</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="note-settings-board">
                        <section class="note-settings-navigation">
                            <div class="nav-items">
                                <a href="#" onclick="showForm('password-form')" class="nav-item active">Change Modes</a>
                            </div>
                            <a href="#" onclick="logoutHandler(this)" class="nav-item logout-btn">Logout</a>
                        </section>
                        <form class="note-settings-form change-modes" id="settings-form-change-modes" action="#"
                            onsubmit="saveChangeSettings(event)">
                            <h2 class="form-title">
                                <span>Change Modes</span>
                                <div class="status">
                                    <span class="status-item unsaved" hidden>(unsaved)</span>
                                    <span class="status-item saved" hidden>(saved)</span>
                                </div>
                            </h2>
                            <div class="form-content active">
                                <div class="form-check form-switch form-group">
                                    <input class="form-check-input" type="checkbox" id="realtime-mode-input"
                                        name="realtime-mode">
                                    <div class="info">
                                        <label class="form-check-label" for="realtime-mode-input">
                                            Real-time mode in this device.
                                        </label>
                                        <div data-bs-toggle="tooltip" data-bs-placement="bottom"
                                            title="When enabled, your note in this device will be updated in real-time. Click for more details."
                                            class="details-btn">
                                            <i class="bi bi-info-circle-fill"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="form-save-change-btn">
                                <i class="bi bi-check-lg"></i>
                                <span>Save Changes</span>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="modal-close-btn" data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal - add password -->
    <div class="modal" id="set-note-password-modal" tabindex="-2">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title fs-5">
                        <% if (note.passwordSet) { %>
                        Change Password For This Note
                        <% } else { %>
                        Add Password For This Note
                        <% } %>
                    </h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>
                            <% if (note.passwordSet) { %>
                            Change Password
                            <% } else { %>
                            Add Password
                            <% } %>
                        </label>
                        <div class="input-wrapper">
                            <input type="password" placeholder="Add password here..."
                                onkeyup="catchEnterKeyOfSetPassword(event)" />
                            <div class="input-actions">
                                <span class="hidden" onclick="hideShowPassword_homePage(this,false)">
                                    <i class="bi bi-eye-slash"></i>
                                </span>
                                <span class="shown inactive" onclick="hideShowPassword_homePage(this,true)">
                                    <i class="bi bi-eye"></i>
                                </span>
                            </div>
                        </div>
                        <div class="helper-text">
                            <div class="helper-text-item">At least four characters</div>
                        </div>
                        <div class="message"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="modal-close-btn" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="modal-save-change-btn" onclick="setPasswordForNoteHanlder(this)">
                        <i class="bi bi-check-lg"></i>
                        <span>Save Change</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal - remove password -->
    <div class="modal" id="remove-note-password-modal" tabindex="-3">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title fs-5">Remove Password From This Note</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Confirm to remove password from this note?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="modal-close-btn" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="modal-save-change-btn" onclick="removePasswordOfNoteHandler(this)">
                        <i class="bi bi-check-lg"></i>
                        <span>Save Change</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>