<main id="page-main">
    <section class="note-quick-look">
        <div class="quick-look-items">
            <div class="quick-look-item password-set" <%= note.passwordSet ? '' : 'hidden' %>>
                <i class="bi bi-lock-fill"></i>
                <span class="text"><%= t('home-page.settings.password.Password_has_been_set',i18nLang) %></span>
            </div>
        </div>
    </section>

    <section class="note-form">
        <div class="note-form-item note-title">
            <input type="text" value="<%= note.title || '' %>"
                placeholder="<%= t('home-page.noteForm.Title_placeholder',i18nLang) %>"
                oninput="broadcastNoteTitleTypingHanlder(this)" id="note-title" />
            <div class="note-annotation"><%= t('home-page.noteForm.Note_annotation_Title',i18nLang) %></div>
        </div>
        <div class="note-form-item note-author">
            <input type="text" value="<%= note.author || '' %>"
                placeholder="<%= t('home-page.noteForm.Author_placeholder',i18nLang) %>"
                oninput="broadcastNoteAuthorTypingHanlder(this)" id="note-author" />
            <div class="note-annotation"><%= t('home-page.noteForm.Note_annotation_Author',i18nLang) %></div>
        </div>
        <div class="note-form-item note-editor-board">
            <section class="note-editor-section normal-editor">
                <div class="note-editor-wrapper" data-replicated-value="<%= note.content || '' %>">
                    <textarea class="note-editor" id="note-editor" rows="5"
                        placeholder="<%= t('home-page.noteForm.Content_placeholder',i18nLang) %>"
                        oninput="noteTyping(this)" onkeyup="catchBackspaceWhenTyping(this,event)"
                        data-replicated-value=""><%= note.content || '' %></textarea>
                    <div class="note-annotation">
                        <%= t('home-page.noteForm.Note_annotation_Content',i18nLang) %>
                    </div>
                </div>
                <div class="letters-count">
                    <span></span>
                    <span class="count"><%= note.content ? note.content.length : 0 %> / 50000</span>
                </div>
            </section>
            <section class="note-editor-section rich-editor" id="rich-editor-section">
                <div class="actions">
                    <button class="action-btn" data-mmn-editor-mode="view-mode">
                        <i class="bi bi-eye"></i>
                        <span>View Mode</span>
                    </button>
                    <button class="action-btn active" data-mmn-editor-mode="edit-mode">
                        <i class="bi bi-pencil-square"></i>
                        <span>Edit Mode</span>
                    </button>
                </div>
                <section class="rich-editor-mode view-mode"></section>
                <section class="rich-editor-mode edit-mode active">
                    <textarea id="mmn-rich-note-editor"></textarea>
                </section>
            </section>
            <section class="under-section">
                <span></span>
                <button id="publish-article-submit-btn" onclick="RichEditorController.publishArticleHandler(this)">
                    <span>Publish</span>
                </button>
            </section>
            <!-- <div class="useful-note-actions">
                    <button class="action" onclick="performUsefulActions(this,'clipboardPaste')">
                        <i class="bi bi-clipboard"></i>
                        <span>Clipboard Paste</span>
                    </button>
                    <button class="action" onclick="performUsefulActions(this,'copyAllNoteContent')">
                        <i class="bi bi-c-circle"></i>
                        <span>Copy All</span>
                    </button>
                    <button class="action" onclick="performUsefulActions(this,'undoNoteContent')">
                        <i class="bi bi-arrow-counterclockwise"></i>
                        <span>Undo</span>
                    </button>
                    <button class="action" onclick="performUsefulActions(this,'clearNoteContent')">
                        <i class="bi bi-x-lg"></i>
                        <span>Clear</span>
                    </button>
                </div> -->
        </div>
    </section>
</main>

<section id="bubble-btns">
    <button class="scroll-to-top-btn" onclick="scrollToTop()" title="<%= t('home-page.Scroll_to_top',i18nLang) %>">
        <i class="bi bi-chevron-double-up"></i>
    </button>

    <button class="scroll-to-bottom-btn" onclick="scrollToBottom()">
        <i class="bi bi-chevron-double-down"></i>
    </button>

    <span data-bs-toggle="tooltip" data-bs-placement="left" title="<%= t('home-page.settings.Settings',i18nLang) %>">
        <div class="bubble-note-settings-btn" data-bs-toggle="modal" data-bs-target="#note-settings-modal">
            <i class="bi bi-gear-fill"></i>
        </div>
    </span>
</section>

<div id="night-mode-blender"></div>

<!-- Modal - app settings -->
<div class="modal" id="note-settings-modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5"><%= t('home-page.settings.Settings',i18nLang) %></h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <%- include('./settings-board') %>
            </div>
            <div class="modal-footer">
                <button type="button" class="modal-close-btn" data-bs-dismiss="modal">
                    <%= t('home-page.settings.Close',i18nLang) %>
                </button>
            </div>
        </div>
    </div>
</div>