<nav id="nav-bar">
    <section class="app-logo-container">
        <a class="app-logo-wrapper" href="/">
            <h2 class="app-title">MemoNote.</h2>
        </a>
        <div id="general-app-status" class="inactive">
            <i class="success-icon bi bi-check-circle-fill"></i>
            <i class="error-icon bi bi-x-circle-fill"></i>
        </div>
    </section>

    <section class="right-side-menu">
        <div class="menu-item realtime-mode-display inactive" data-bs-toggle="tooltip" data-bs-placement="bottom"
            title="<%= t('home-page.Realtime_Mode',i18nLang) %>">
            <div class="display-icon">
                <i class="bi bi-arrow-repeat"></i>
            </div>
        </div>

        <a href="/menu/about" class="menu-item"><%= t('home-page.About_Us',i18nLang) %></a>

        <a href="/menu/faq" class="menu-item"><%= t('home-page.FAQ',i18nLang) %></a>

        <% if (verified) { %>
        <div class="menu-item notification">
            <div class="notification-btn" onclick="NotificationsController.showNotificationsBoard(true)"
                data-bs-toggle="tooltip" data-bs-placement="bottom"
                title="<%= t('home-page.Notifications',i18nLang) %>">
                <div class="icon-wrapper">
                    <i class="bi bi-bell-fill"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">
                        0
                    </span>
                </div>
            </div>

            <section id="notifs-board">
                <div class="notifs-modal" onclick="NotificationsController.showNotificationsBoard(false)"></div>

                <div class="notifs-content tab-navigator">
                    <div class="close-btn" onclick="NotificationsController.showNotificationsBoard(false)"
                        data-bs-toggle="tooltip" data-bs-placement="left"
                        title="<%= t('home-page.Close_notifications',i18nLang) %>">
                        <i class="bi bi-x-circle-fill"></i>
                    </div>

                    <div class="title-box">
                        <h2 class="title"><%= t('home-page.Notifications',i18nLang) %></h2>
                        <span class="details-btn" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            title="<%= t('home-page.Notifications_tooltip',i18nLang) %>">
                            <i class="bi bi-question-circle-fill"></i>
                        </span>
                    </div>

                    <div class="nav-tabs-list">
                        <button class="nav-tab active" data-mmn-tab-value="all">
                            <span class="label"><%= t('home-page.All',i18nLang) %></span>
                            <span class="count">0</span>
                        </button>
                        <button class="nav-tab" data-mmn-tab-value="is-new">
                            <span class="label"><%= t('home-page.New',i18nLang) %></span>
                            <span class="count">0</span>
                        </button>
                    </div>

                    <div class="notifs-scroller all nav-destination active">
                        <div class="notifs">
                            <div class="empty-message">
                                <span><%= t('home-page.Empty_notification',i18nLang) %></span>
                                <span>¯\_(ツ)_/¯</span>
                            </div>
                        </div>
                        <span class="load-more-btn" onclick="NotificationsController.loadMoreNotifs()">
                            <span><%= t('home-page.Load_more',i18nLang) %></span>
                        </span>
                    </div>

                    <div class="notifs-scroller is-new nav-destination">
                        <div class="notifs">
                            <div class="empty-message">
                                <span><%= t('home-page.Empty_new_notification',i18nLang) %></span>
                                <span>¯\_(ツ)_/¯</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <% } %>
    </section>
</nav>