<!doctype html>
<html lang="en">

<head>
    <%- include('../../partials/doc-head') %>
    <link rel="stylesheet" href="/styles/pages/404-page.css" />
    <title><%= appInfo.name %></title>
</head>

<body>
    <%- include('../../partials/nav-bar') %>

    <main id="page-main">
        <section class="animation-container">
            <h1 class="error">404</h1>
            <p class="message">Oops! The page you're looking for doesn't exist.</p>
            <button onclick="goBackYourNote()" class="go-back-your-note">Go Back Your Note</button>
        </section>
    </main>

    <%- include('../../partials/page-bottom') %>
    <%- include('../../partials/doc-scripts') %>

    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js" defer></script>
    <script src="/scripts/pages/404-page.js" defer></script>
</body>

</html>